/.idea
*/.mvn
/.idea/misc.xml
/myproject1/mvnw
/myproject2/mvnw
/myproject3/mvnw
/myproject1/mvnw.cmd
/myproject2/mvnw.cmd
/myproject3/mvnw.cmd
/myproject3/.mvn/wrapper/maven-wrapper.jar
/myproject1/.mvn/wrapper/maven-wrapper.jar
/myproject2/.mvn/wrapper/maven-wrapper.jar
/myproject3/.mvn/wrapper/maven-wrapper.jar
/.idea/uiDesigner.xml
/myproject1/.mvn/wrapper/maven-wrapper.jar
/myproject2/.mvn/wrapper/maven-wrapper.jar
/myproject3/.mvn/wrapper/maven-wrapper.jar
.gitignore